apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  ports:
    - port: 3000
      targetPort: 3000
  selector:
    app: backend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - image: backend-api:latest
          name: backend
          imagePullPolicy: Never
          env:
            - name: PORT
              value: "3000"
            - name: DB_HOST
              value: "mysql"
            - name: DB_USER
              value: "cloudapp_user"
            - name: DB_PASSWORD
              value: "mypassword"
            - name: DB_NAME
              value: "travel_app_db"
            - name: GCP_BUCKET_NAME
              value: "htwg-cloudapp-hw.firebasestorage.app"
            - name: GEMINI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: GEMINI_API_KEY
            - name: GCP_SERVICE_ACCOUNT_JSON
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: GCP_SERVICE_ACCOUNT_JSON
